.Cart
  h3
    font-size: 24px
    padding-bottom: .5em
    border-bottom: 1px solid black

  .cart-container
    width: 100%
    padding: 0 2.5em
    display: flex

    & > div
      display: inline-block
      padding: 0 2em

    .items
      width: 70%
      border: 1px solid black
      margin-right: 1em

    .order-summary
      width: 30%
      border: 1px solid black
      margin-left: 1em
