@import '../Products/_Products.sass'
@import '../ProductList/_ProductList.sass'
@import '../Cart/_Cart.sass'
body
  margin: 0
  padding: 2em
  font-family: 'Roboto', sans-serif
h1
  font-weight: 300
  text-align: center
